{{> include/page_header.mustache}}
<div class="row">
	<div class="col-sm-4">
		<?= HTML::tablist($tabs_info, $cur_tab, 'nav-pills') ?>
	</div>
	<div class="col-sm-4 order-sm-9 checkbox text-right">
		<label class="checkbox-inline" for="input-show_tags_mode"><input type="checkbox" id="input-show_tags_mode" <?= isset($_COOKIE['show_tags_mode']) ? 'checked="checked" ': ''?>/> <?= UOJLocale::get('problems::show tags') ?></label>
		<label class="checkbox-inline" for="input-show_submit_mode"><input type="checkbox" id="input-show_submit_mode" <?= isset($_COOKIE['show_submit_mode']) ? 'checked="checked" ': ''?>/> <?= UOJLocale::get('problems::show statistics') ?></label>
	</div>
	<div class="col-sm-4 order-sm-5">
	<?php echo $pag->pagination(); ?>
	</div>
</div>
<div class="top-buffer-sm"></div>
<script type="text/javascript">
$('#input-show_tags_mode').click(function() {
	if (this.checked) {
		$.cookie('show_tags_mode', 'on', {path: '/problems'});
	} else {
		$.removeCookie('show_tags_mode', {path: '/problems'});
	}
	location.reload();
});
$('#input-show_submit_mode').click(function() {
	if (this.checked) {
		$.cookie('show_submit_mode', 'on', {path: '/problems'});
	} else {
		$.removeCookie('show_submit_mode', {path: '/problems'});
	}
	location.reload();
});
</script>
<div class="table-responsive">
	<table class="table table-bordered table-hover table-striped">
	    <thead>
            <tr>
                <th class="text-center" style="width:5em;">{{PROBLEMS::STATUS}}</th>';
                <th class="text-center" style="width:5em;">ID</th>;
                <th>{{PROBLEMS::PROBLEM}}</th>;
                {{show_submit_mode}}
	            <th class="text-center" style="width:5em;">{{PROBLEMS::AC}}</th>
	            <th class="text-center" style="width:5em;">{{PROBLEMS::SUBMIT}}</th>
	            <th class="text-center" style="width:150px;">{{PROBLEMS::AC_ratio}}</th>
                <th class="text-center" style="width:180px;">{{APPRAISAL}}</th>
            </tr>
	    </thead>
        <tbody>
            {{#problems}}
                <tr class="text-center">
                    <td>
                    {{#submission_id}}
                        <span class="glyphicon glyphicon-ok text-danger" aria-hidden="true"></span>
                    {{/submission_id}}
                    </td>
                    <td>
                        #{{id}}
                    </td>
                    <td class="text-left">
                    {{#is_hidden}}
                        <span class="text-danger">[隐藏]</span>
                    {{/is_hidden}}
                    <a href="/problem/{{id}}">{{title}}</a>
                    {{#tags}}
                        <a class="uoj-problem-tag badge badge-primary">tag</a>
                    {{/tags}}
                    </td>
                    {{#show_submit_mode}}
                        <td><a href="/submissions?problem_id={{id}}&min_score=100&max_score=100">&times;{{ac_num}}</a></td>
                        <td><a href="/submissions?problem_id={{id}}">&times;{{submit_num}}</a></td>
                        <td>
                            <div class="progress bot-buffer-no">
                                <div class="progress-bar progress-bar-success bg-danger" role="progressbar" aria-valuenow="{{ac_perc}}" aria-valuemin="0" aria-valuemax="100" style="width: {{ac_perc}}%; min-width: 20px;">{{ac_perc}}%</div>
                            </div>
                        </td>
                    {{/show_submit_mode}}
                    <td class="text-left">{{{click_zan_block}}}</td>
                </tr>
            {{/problems}}
            {{^problems}}
                <tr><td class="text-center" colspan="233">{{NONE}}</td></tr>
            {{/problems}}
        </tbody>
	</table>
</div>
{{new_problem_form}}
{{> include/page_footer.mustache}}
